<h1>BEST MATCHING PETS</h1>

<div class="text-center">
  <h3>Profile</h3>
  <h2>{{pet.pet_name}}</h2>
  <p>{{pet.age}}</p>
  <p>{{pet.breed}}</p>
  <p>{{pet.gender}}</p>
  <p>{{pet.size}}</p>
</div>
<button id="add-favorite">Add to favorite pets</button>