{{! profile }}

<div
  style="font-size:1.5rem; font-family: 'Archivo Black', sans-serif; background-color:goldenrod; align-items: center; text-align:center; text-shadow:1px 1px black"
>

  <a href="/pets" type="btn-success" id="lnk-add-pet">Click here to Add or Find
    Profile</a>
</div>

{{#each pets as |pet|}}
  <div
    class="card center"
    style="width: 18rem; position:relative; margin:40px; float:left;"
  >
    <img src="{{pet.image}}" class="card-img-top" alt="dog picture" />
    <div
      class="card-body"
      style="text-align: center; align-items:center font-size:1.5rem; font-family: 'Archivo Black', sans-serif;"
    >
      <h2 class="card-title">{{pet.pet_name}}</h2>
      <p class="card-text" style="font-size: 3rem;">🦴</p>
    </div>
    <ul
      class="list-group list-group-flush"
      style="text-align: center; align-items:center; font-size:1.5rem; font-family: 'Archivo Black', sans-serif;"
    >
      <li class="list-group-item">Age {{pet.age}}</li>
      <li class="list-group-item">{{pet.breed}}</li>
      <li class="list-group-item">{{pet.gender}}</li>
      <li class="list-group-item">Doggie Size
        <span style="color: steelblue;">{{pet.size}}</span></li>
    </ul>
    <button
      class="btn btn-danger del-pet"
      type="submit"
      data-id="{{pet.id}}"
    >Delete Pet </button>

    {{! need to work on edit profile function }}

    {{!-- <button
      class="btn btn-warning edit-pet"
      type="submit"
      data-id="{{pet.id}}"
    >Edit Pet</button>  !--}}

  </div>

{{/each}}

<script src="/js/logout.js"></script>
<script src="/js/addPet.js"></script>