{{!  }}
{{#each pets as |pet|}}
  <div class="text-center">
    <h3>Profile</h3>
    <h2>{{pet.pet_name}}</h2>
    <p>{{pet.age}}</p>
    <p>{{body.breed}}</p>
    <p>{{body.gender}}</p>
    <p>{{body.size}}</p>
  </div>
{{/each}}

<a href="/pets" type="btn-success" id="lnk-add-pet">Click here to add a Pet</a>
<br />
<button class="btn btn-warning" type="submit" id="del-pet">Delete Pet</button>
{{! <div class="card p-4">
    <div
      class="image d-flex flex-column justify-content-center align-items-center"
    >
      <button class="btn btn-secondary">
        <img
          src="https://th.bing.com/th/id/R.aae1c594406798e8d2999dd274618c8e?rik=snM8ZJ95mHdPdQ&riu=http%3a%2f%2f4.bp.blogspot.com%2f-0lA5chqLm1g%2fToLJnlEYBlI%2fAAAAAAAAAaw%2foUml57rrYnA%2fs1600%2fboxer_dog_4.jpg&ehk=qUWLH%2bD%2fBe4S7BWJyKaKU%2f2axwhwpUAqg1kVwLFLjAQ%3d&risl=&pid=ImgRaw&r=0"
          height="100"
          width="100"
        />
      </button>
      <span class="name mt-3">dogname here</span>
      <span class="id">Loves Playing Fetch</span>
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-2"
      >
        <span><i class="fa fa-copy">hello</i></span>
      </div>
      <div
        class="d-flex flex-row justify-content-center align-items-center mt-3"
      >
        <span class="number">5 <span class="follow">Matches</span></span> 
      </div>
      <div class="d-flex mt-2">
        <button class="btn1 btn-success" type="submit">Edit Profile</button>
      </div>
      <div class="text mt-3">
        <span>Details about profile here<br /><br /> </span>
      </div>
      <div
        class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"
      >
        <span><i class="fa fa-twitter"></i></span>
        <span><i class="fa fa-facebook-f"></i></span>
        <span><i class="fa fa-instagram"></i></span>
      </div>
      <div class="px-2 rounded mt-4 date">
        <span class="join">Joined November,2021</span>
      </div>
    </div>
  </div>
</div> }}

<button class="btn btn-secondary" id="logout">logout</button><br />
<script src="/js/logout.js"></script>
<script src="/js/addPet.js"></script>