{{! pet results }}

{{#each pets as |pet|}}
  <div
    class="center card"
    id="dog-card"
    style="width: 18rem; position:relative; top: 10px; left: 40%; float:left; margin-right: 25px;"
  >
    <img src="{{pet.image}}" class="card-img-top" alt="blue eyes dog" />
    <div
      class="card-body"
      style="font-family: 'Archivo Black', sans-serif; text-align:center; align-items:center"
    >
      <h2 class="card-title">{{pet.pet_name}}</h2>
      <ul
        class="list-group list-group-flush"
        style="text-align: center; align-items:center"
      >
        <li class="list-group-item">Age {{pet.age}}</li>
        <li class="list-group-item">{{pet.breed}}</li>
        <li class="list-group-item">{{pet.gender}}</li>
        <li class="list-group-item">Doggie Size
          <span style="color: steelblue;">{{pet.size}}</span></li>
      </ul>
      <p class="card-text" style="font-size: 1rem; color:gray">Loves to go
        hiking and dig for treasures</p>
      <a href="/login" class="btn btn-primary">Go to profile</a>
    </div>
  </div>
{{/each}}
<a href="/homepage">Go to homepage</a>

{{!-- <section class="container"></section>
  {{#if logged_in}}
  <section class="flex-row justify-center">
    {{#each pet as |pet|}}
    {{> pet-details}}
    {{/each}}
  </section>
</section>
<!--link to login -->
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}
<script src="/js/addPet.js"></script> --}}